.task {
    &.complete {
      background-color: #0000003a;
      span {
        text-decoration: line-through;
      }
    }
    &.animateDelete {
      transition: 0.2s;
      transform: translateX(-50px);
      opacity: 0;
    }
    padding: 5px;
    display: flex;
    list-style-type: none;
    background-color: rgba(255, 255, 255, 0.178);
    border: 1px solid rgba(255, 255, 255, 0.61);
    margin-top: 10px;
    span {
      flex-grow: 1;
    }
    input {
      width: 100%;
      background-color: inherit;
    }

    .taskBtn {
      background-color: rgba(0, 0, 0, 0);
      padding: 0px 20px;
      position: relative;
      cursor: pointer;
      align-self: flex-start;
      &::before {
        content: '';
        position: absolute;
        width: 1px;
        height: 100%;
        background-color: rgba(255, 255, 255, 0.61);
        top: calc((100% / 2) - 15%);
        top: 0;
        left: 0;
      }
    }
    .btnDelete {
      margin-left: 5px;
    }
  }